@model IEnumerable<SnowTails.Models.Location.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationId }) |
            @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
        </td>
    </tr>
}

</table>
